<form
  class="signupForm"
  [formGroup]="signupForm"
  (ngSubmit)="onSubmit()"
  validate
>
  <div class="signupForm__item">
    <input
      class="signupForm__input"
      id="name"
      type="text"
      formControlName="name"
      placeholder=" "
    />
    <label class="signupForm__label" for="name">name</label>
  </div>

  <div class="signupForm__item">
    <input
      class="signupForm__input"
      id="surname"
      type="text"
      formControlName="surname"
      placeholder=" "
    />
    <label class="signupForm__label" for="surname">surname</label>
  </div>
  <div class="signupForm__item">
    <input
      class="signupForm__input"
      id="email"
      type="email"
      formControlName="email"
      placeholder=" "
    />
    <label class="signupForm__label" for="email">email</label>
  </div>
  <p
    *ngIf="!signupForm.get('email').valid && signupForm.get('email').dirty"
    class="error"
  >
    This field is required
  </p>
  <div class="signupForm__item">
    <input
      class="signupForm__input"
      id="password"
      type="password"
      formControlName="password"
      placeholder=" "
    />
    <label class="signupForm__label" for="password">password</label>
  </div>
  <p
    *ngIf="
      !signupForm.get('password').valid && signupForm.get('password').dirty
    "
    class="error"
  >
    This field is required and must be longer than 6
  </p>
  <div class="signupForm__item">
    <input
      class="signupForm__input"
      id="adres"
      type="text"
      formControlName="adres"
      placeholder=" "
    />
    <label class="signupForm__label" for="adres">adress</label>
  </div>
  <p *ngIf="!signupForm.get('adres').valid" class="error">
    This field can't be longer than 50
  </p>
  <p *ngIf="error" class="error">{{ error }}</p>

  <button class="signupForm__button" type="submit">Sign up</button>
</form>
