@import '../../../assets/style/variables.scss';

.not-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  text-align: center;
  padding: 0 10vw;
  a {
    font-weight: bold;
    font-size: 1.5rem;
    &:hover {
      color: $red-color;
    }
  }
}
