@import "./assets/style/mixins.scss";
@import "./assets/style/variables.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
