@import "./assets/style/mixins.scss";
@import "./assets/style/variables.scss";

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap&subset=latin-ext");
//font-family: 'Raleway', sans-serif;

*,
*:before,
*:after {
  box-sizing: border-box;
}
*:before,
*:after {
  content: "";
  display: block;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
