@import "../../assets/style/mixins.scss";
@import "../../assets/style/variables.scss";

.home {
  display: flex;
  flex-direction: column;
  height: 85vh;
}
.map {
  padding: 0 10vw;
  flex-grow: 1;
}

.map-form {
  margin-top: 3vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__button {
    @include button;
    margin-top: 2vh;
    margin-right: 0;
  }

  &__input {
    margin-top: 1vh;
    padding: 0.5vh 3vw;
    text-align: center;
    font-family: "Raleway", sans-serif;
    border: 1px solid $border-color;
  }
}

@media (orientation: landscape) {
  .map-form {
    flex-direction: row;
    width: 80vw;
    position: relative;
    margin: 4vh auto;
    align-items: center;
    @media (min-width: 1024px) {
      width: 65vw;
    }

    &__button {
      position: absolute;
      right: 0;
      margin: 0;
    }

    &__input {
      padding: 1vh 2vw;
      margin-right: 2vw;
      margin-bottom: 2px;
      width: 22vw;
      @media (min-width: 700px) {
        border-width: 2px;
      }
    }
  }
}
